{# Wipe existing BGP configuration to prevent conflicts #}
delete protocols bgp

{# Global Routing and BGP Settings #}
set routing-options autonomous-system {{ bgp.local_as }}
set protocols bgp local-address {{ loopback_ipv4.split('/')[0] }}

{# Iterate through all defined BGP groups #}
{% for group in bgp.groups %}

{# Set Group-Level Parameters #}
set protocols bgp group {{ group.name }} type {{ group.type }}

{# Always add multihop and peer-as for eBGP groups #}
{% if group.type == "external" %}
set protocols bgp group {{ group.name }} multihop
set protocols bgp group {{ group.name }} peer-as {{ group.peer_as }}
{% endif %}

{# Iterate through the peers within this specific group #}
{% for peer in group.peers %}
set protocols bgp group {{ group.name }} neighbor {{ peer.ip }} description "{{ peer.description }}"
{% endfor %}

{% endfor %}
