{# OSPF Protocol Global Settings (Cisco IOS XR) #}
router ospf 1
 router-id {{ loopback_ipv4 | ansible.utils.ipaddr('address') }}
 auto-cost reference-bandwidth 10000
 area 0.0.0.0
  interface Loopback0
   passive enable
  !
{% for iface in interfaces %}
{% if iface.ospf_area is defined %}
  interface {{ iface.name }}
   network point-to-point
  !
{% endif %}
{% endfor %}
!