{# OSPF Protocol Global Settings #}
set protocols ospf reference-bandwidth 10g
set protocols ospf lsa-refresh-interval 29
set protocols ospf area 0.0.0.0 interface lo0.0 passive

{# P2P OSPF interface settings #}
{% for iface in interfaces %}
{% if iface.ospf_area is defined %}
set protocols ospf area {{ iface.ospf_area }} interface {{ iface.name }}.0 interface-type p2p
{% endif %}
{% endfor %}
