[defaults]
inventory = inventory.ini
jinja2_native = True
host_key_checking = False
retry_files_enabled = False
# Keeps the output clean
interpreter_python = auto_silent
vault_password_file = .vault_pass

# Use the core default callback
stdout_callback = ansible.builtin.default

[callback_default]
# This is the new way to force YAML output for all results
result_format = yaml

[persistent_connection]
# Increased timeouts for vJunos running on Swap in clab
connect_timeout = 180
command_timeout = 180
