[defaults]
inventory = inventory.ini
jinja2_native = True
host_key_checking = False
retry_files_enabled = False
# Keeps the output clean
interpreter_python = auto_silent

[persistent_connection]
# Increased timeouts for vJunos running on Swap in clab
connect_timeout = 60
command_timeout = 60
