{# IS-IS Protocol Global Settings #}
set protocols isis level 2 disable
set protocols isis lsp-lifetime 350
set protocols isis reference-bandwidth 10g

{# Loopback specific IS-IS settings #}
set interfaces lo0 unit 0 family iso address {{ isis_area_id }}.{{ isis_system_id }}.00
set protocols isis interface lo0.0 passive

{# P2P IS-IS interface settings #}
{% for iface in interfaces %}
set interfaces {{ iface.name }} unit 0 family iso
set protocols isis interface {{ iface.name }}.0 point-to-point
{% endfor %}
