{# Interfaces and Routing Options Template #}
set interfaces lo0 unit 0 family inet address {{ loopback_ipv4 }} primary

{# Adding the target prefixes #}
{% if prefixes is defined %}
{% for prefix in prefixes %}
set interfaces lo0 unit 0 family inet address {{ prefix }}
{% endfor %}
{% endif %}

{# P2P interface settings #}
{% for iface in interfaces %}
set interfaces {{ iface.name }} description "{{ iface.description }}"
{% if ip_unumbered | bool %}
set interfaces {{ iface.name }} unit 0 family inet unnumbered-address lo0.0
{% else %}
set interfaces {{ iface.name }} unit 0 family inet address {{ iface.ipv4_address }}
{% endif %}
{% endfor %}

{# Routing Options #}
set routing-options router-id {{ loopback_ipv4.split('/')[0] }}

{#
Optional use of IP unnumbered.
Mapping all point-to-point interfaces to the exact same loopback unit (e.g., lo0.0)
#}
