{# Interfaces and Routing Options Template (Cisco IOS XR) #}
interface Loopback0
 ipv4 address {{ loopback_ipv4 | ansible.utils.ipaddr('address') }} {{ loopback_ipv4 | ansible.utils.ipaddr('netmask') }}
 no shutdown
!

{# P2P Interface Settings #}
{% if interfaces is defined %}
{% for iface in interfaces %}
interface {{ iface.name }}
 description {{ iface.description }}
{% if ip_unumbered | default(false) | bool %}
 ipv4 unnumbered Loopback0
{% else %}
 ipv4 address {{ iface.ipv4_address | ansible.utils.ipaddr('address') }} {{ iface.ipv4_address | ansible.utils.ipaddr('netmask') }}
{% endif %}
 no shutdown
!
{% endfor %}
{% endif %}

{# Static Routes (Discards map to Null0) #}
{% if static_routes is defined and static_routes | length > 0 %}
router static
 address-family ipv4 unicast
{% for route in static_routes %}
{% if route.state | default('present') == 'absent' %}
  no {{ route.prefix }} {% if route.action == 'discard' %}Null0{% endif %}
{% else %}
  {{ route.prefix }} {% if route.action == 'discard' %}Null0{% endif %}
{% endif %}
{% endfor %}
!
{% endif %}

{#
Optional use of IP unnumbered.
Mapping all point-to-point interfaces to the exact same loopback unit (e.g., lo0.0)
#}
