{# Interfaces and Routing Options Template #}
set interfaces lo0 unit 0 family inet address {{ loopback_ipv4 }} primary

{# Adding the target prefixes #}
{% if prefixes is defined %}
{% for prefix in prefixes %}
{{ prefix.action }} interfaces lo0 unit 0 family inet address {{ prefix.prefix }}
{% endfor %}
{% endif %}

{# Configure or Delete static routes (Discard / Receive) #}
{% if static_routes is defined %}
{% for route in static_routes %}

{# Check if the route is marked for deletion #}
{% if route.state | default('present') == 'absent' %}
delete routing-options static route {{ route.prefix }}
{% else %}
set routing-options static route {{ route.prefix }} {{ route.action }}
{% endif %}

{% endfor %}
{% endif %}

{# Configure or Delete aggregate routes #}
{% if aggregate_routes is defined %}
{% for route in aggregate_routes %}

{# Check if the route is marked for deletion #}
{% if route.state | default('present') == 'absent' %}
delete routing-options aggregate route {{ route.prefix }}
{% else %}
set routing-options aggregate route {{ route.prefix }}
{% endif %}

{% endfor %}
{% endif %}

{# P2P interface settings #}
{% for iface in interfaces %}
set interfaces {{ iface.name }} description "{{ iface.description }}"
{% if ip_unumbered | bool %}
set interfaces {{ iface.name }} unit 0 family inet unnumbered-address lo0.0
{% else %}
set interfaces {{ iface.name }} unit 0 family inet address {{ iface.ipv4_address }}
{% endif %}
{% endfor %}

{# Routing Options #}
set routing-options router-id {{ loopback_ipv4.split('/')[0] }}

{#
Optional use of IP unnumbered.
Mapping all point-to-point interfaces to the exact same loopback unit (e.g., lo0.0)
#}
